@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #626163; }

h1 {
  font-size: 38px;
  font-weight: bold; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px;
  font-weight: bold; }

h4 {
  font-size: 18px;
  font-weight: bold; }

h5 {
  font-size: 18px; }

a {
  color: #6D8B97;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    outline: none; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 16px;
  line-height: 24px; }

.text-center {
  text-align: center; }

.sprite::before {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-burger::before {
  width: 15px;
  height: 12px;
  background-position: -5px -5px; }

.sprite-close-1::before {
  width: 9px;
  height: 9px;
  background-position: -30px -5px; }

.sprite-correct-symbol::before {
  width: 7px;
  height: 5px;
  background-position: -49px -5px; }

.sprite-cream::before {
  width: 68px;
  height: 68px;
  background-position: -66px -5px; }

.sprite-cream-1::before {
  width: 68px;
  height: 68px;
  background-position: -144px -5px; }

.sprite-f::before {
  width: 16px;
  height: 16px;
  background-position: -5px -83px; }

.sprite-filter-close::before {
  width: 9px;
  height: 8px;
  background-position: -31px -83px; }

.sprite-filter-open::before {
  width: 9px;
  height: 8px;
  background-position: -50px -83px; }

.sprite-jj::before {
  width: 16px;
  height: 16px;
  background-position: -69px -83px; }

.sprite-left::before {
  width: 19px;
  height: 29px;
  background-position: -95px -83px; }

.sprite-left-arrow::before {
  width: 15px;
  height: 13px;
  background-position: -124px -83px; }

.sprite-left-arrow-dis::before {
  width: 15px;
  height: 13px;
  background-position: -149px -83px; }

.sprite-left-arrow-hover::before {
  width: 15px;
  height: 13px;
  background-position: -174px -83px; }

.sprite-left-hover::before {
  width: 19px;
  height: 29px;
  background-position: -199px -83px; }

.sprite-lenses::before {
  width: 12px;
  height: 12px;
  background-position: -5px -122px; }

.sprite-lenses-hover::before {
  width: 12px;
  height: 12px;
  background-position: -27px -122px; }

.sprite-m::before {
  width: 16px;
  height: 16px;
  background-position: -49px -122px; }

.sprite-mail::before {
  width: 21px;
  height: 15px;
  background-position: -75px -122px; }

.sprite-maps-and-flags::before {
  width: 15px;
  height: 21px;
  background-position: -106px -122px; }

.sprite-marker::before {
  width: 18px;
  height: 18px;
  background-position: -131px -122px; }

.sprite-marker-dark::before {
  width: 18px;
  height: 18px;
  background-position: -159px -122px; }

.sprite-ok::before {
  width: 16px;
  height: 16px;
  background-position: -187px -122px; }

.sprite-piggy-bank::before {
  width: 68px;
  height: 68px;
  background-position: -5px -150px; }

.sprite-powder::before {
  width: 68px;
  height: 68px;
  background-position: -131px -150px; }

.sprite-right::before {
  width: 19px;
  height: 29px;
  background-position: -222px -5px; }

.sprite-right-arrow::before {
  width: 15px;
  height: 13px;
  background-position: -5px -44px; }

.sprite-right-arrow-dis::before {
  width: 15px;
  height: 13px;
  background-position: -30px -44px; }

.sprite-right-arrow-hover::before {
  width: 15px;
  height: 13px;
  background-position: -222px -44px; }

.sprite-right-hover::before {
  width: 19px;
  height: 29px;
  background-position: -228px -67px; }

.sprite-s1::before {
  width: 16px;
  height: 16px;
  background-position: -228px -106px; }

.sprite-s2::before {
  width: 16px;
  height: 16px;
  background-position: -213px -132px; }

.sprite-star::before {
  width: 68px;
  height: 68px;
  background-position: -257px -5px; }

.sprite-t::before {
  width: 16px;
  height: 16px;
  background-position: -257px -83px; }

.sprite-telephone::before {
  width: 21px;
  height: 21px;
  background-position: -283px -83px; }

.sprite-vk::before {
  width: 16px;
  height: 16px;
  background-position: -254px -114px; }

.sprite-ya::before {
  width: 16px;
  height: 16px;
  background-position: -280px -114px; }

header {
  min-height: 80px;
  background: #F8F5F1; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.logo {
  max-width: 140px;
  display: inline-block; }

.header-wrapper {
  padding: 26px; }

.header-top {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 26px 0 0 16px; }

.btn {
  display: inline-block;
  padding: 0 10px;
  min-width: 192px;
  height: 55px;
  line-height: 54px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #6D8B97;
  border: 1px solid #6D8B97;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .btn:hover {
    border-color: #fff; }
  .btn.btn-red {
    background: #FFB59E;
    font-size: 17px;
    color: #fff;
    border: none;
    text-transform: none; }

.cost-btn {
  position: relative;
  display: inline-block;
  padding: 0 40px 0 0;
  margin: 0 0 30px;
  line-height: 26px;
  font-size: 18px;
  text-decoration: underline;
  color: #626163; }
  .cost-btn::before {
    content: '\f107';
    position: absolute;
    right: 0;
    top: 0;
    font-family: "FontAwesome";
    color: #626163;
    font-size: 34px; }

.soc-btn {
  list-style: none; }
  .soc-btn li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; }
    .soc-btn li a {
      font-size: 25px;
      color: #929192; }
      .soc-btn li a:hover {
        color: #626163;
        opacity: 1; }

.ic {
  position: relative; }
  .ic::before {
    content: '';
    display: block; }

.ic-search::before {
  width: 19px;
  height: 20px;
  background: url(../img/search.png) no-repeat; }

.header-top__info {
  text-align: right;
  list-style: none; }

.navbar {
  position: relative;
  min-height: 0;
  margin-bottom: 0;
  margin-top: 18px;
  border: none;
  background: #C1CFD0;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .navbar.navbar-fixed {
    position: fixed;
    right: 0;
    left: 24%;
    top: 0;
    margin: 0;
    z-index: 999; }
    .navbar.navbar-fixed .navbar-nav {
      padding: 0 60px; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0;
  padding: 0 0 0 120px; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  float: none;
  display: inline-block; }
  .navbar-nav > li.chisel {
    position: absolute;
    left: 100%;
    height: 100%;
    background: #C1CFD0; }
  .navbar-nav > li > a {
    display: block;
    padding: 13px 0 12px;
    margin: 0 5px 0 0;
    font-size: 18px;
    color: #fff;
    font-weight: 600; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff; }

.nav a {
  border: none; }

.nav .open > a {
  background-color: transparent;
  border-color: transparent; }

.nav .open > a {
  background-color: transparent;
  border-color: transparent; }
  .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent; }

.dropdown-menu {
  width: 210px;
  float: none;
  min-width: 0;
  padding: 0 0 10px;
  margin: 0 0 0;
  font-size: 14px;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: 0px 4px 10px 0px #6d8b97; }
  .dropdown-menu > li {
    display: block; }
    .dropdown-menu > li > a {
      display: block;
      padding: 10px 10px;
      height: 100%;
      vertical-align: middle;
      font-size: 12px;
      color: #626163;
      white-space: initial; }
      .dropdown-menu > li > a.active {
        color: #FFB59E; }

.top-slider__wrapper {
  position: relative; }

.top-slider__item {
  position: relative;
  outline: none; }

.top-slider__text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.top-slider__text__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.top-slider__info {
  margin: 115px 0 0;
  width: 55%; }
  .top-slider__info p {
    margin-left: 150px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: normal;
    font-weight: 500; }
  .top-slider__info span {
    margin-left: 150px;
    font-size: 24px; }

.top-slider__title {
  margin-bottom: 36px;
  font-size: 48px;
  color: #6D8B97; }

.slider-arrows {
  position: absolute;
  right: 25%;
  bottom: -27px;
  width: 140px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slider-arrows button {
    display: block;
    padding: 0;
    width: 64px;
    height: 65px;
    line-height: 100px;
    text-align: center;
    background: #fff;
    border: none;
    outline: none; }
    .slider-arrows button:hover {
      background: #C3D2D4;
      opacity: 1;
      color: #9DACAE; }
    .slider-arrows button .fa {
      font-size: 60px; }
    .slider-arrows button.slider-arrows__next {
      border-left: 1px solid #6D8B97; }

.content {
  min-height: 200px; }

.section {
  padding: 30px 0; }
  .section h2 {
    position: relative;
    margin-left: 100px;
    color: #6D8B97;
    font-size: 48px;
    font-weight: 300; }
    .section h2::before {
      content: '';
      position: absolute;
      left: -1000px;
      top: 50%;
      width: 1000px;
      height: 4px;
      background: #F8F5F1; }
    .section h2 span {
      padding: 0 0 0 15px;
      background: #fff; }

.title-box {
  min-height: 120px; }

.welcome-wrapper {
  position: relative;
  padding: 80px 0;
  background: #F8F5F0; }

.welcome-slider img {
  margin: 0 auto;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.welcome-slider__item {
  overflow: hidden; }
  .welcome-slider__item:hover img {
    -webkit-transform: scale(1.2) rotate(-4deg);
        -ms-transform: scale(1.2) rotate(-4deg);
            transform: scale(1.2) rotate(-4deg); }

.title-box__text {
  width: 50%;
  font-size: 14px;
  line-height: 20px; }

.services .title-box__text {
  width: 55%; }

.services-wrapper {
  padding: 80px 0;
  margin-top: 50px;
  background: #F8F5F0; }

.services-item {
  position: relative;
  height: 436px;
  margin-bottom: 30px;
  background: #FCD3BC;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .services-item.services-item__title {
    background: transparent; }
  .services-item ul {
    list-style: none; }
    .services-item ul li {
      position: relative;
      margin-bottom: 15px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff; }
      .services-item ul li.services-item__check::before {
        content: '';
        position: absolute;
        left: -10px;
        top: -6px;
        background: url(../img/checked.png);
        width: 28px;
        height: 28px; }
  .services-item .justify-align {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services-item > img {
    height: 100%; }

.services-item__white {
  position: absolute;
  height: 230px;
  padding: 20px 10px 20px;
  left: 0;
  right: 0;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.7); }
  .services-item__white h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; }

.services-item__nut {
  padding: 50px 10px 40px;
  background: #E4CDB0; }
  .services-item__nut .justify-align {
    height: 100%; }

.services-item__title {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase; }

.big-letter {
  font-size: 64px;
  font-weight: 900;
  color: #fff; }

.fz-48 {
  font-size: 48px; }

.fz-36 {
  font-size: 36px;
  text-transform: uppercase; }

.services-item__pink {
  padding: 40px 10px 30px; }
  .services-item__pink:hover {
    background: #FFB59E; }
  .services-item__pink .justify-align {
    height: 100%; }

.ic-clock::before {
  width: 105px;
  height: 105px;
  background: url(../img/clock.png); }

.services__custom-title {
  position: relative;
  text-align: right; }
  .services__custom-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 7px;
    background: #C2D1D4; }
  .services__custom-title span {
    position: relative;
    display: inline-block;
    padding: 0 0 0 25px;
    background: #F8F5F0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    z-index: 10;
    color: #6D8B97;
    text-transform: uppercase; }

.services-item__title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent; }

.services-item__title--img {
  position: relative;
  height: 380px; }

.services-title__position {
  position: relative; }
  .services-title__position .services__custom-title {
    position: absolute;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: 208px;
    left: -250px;
    width: 436px; }
    .services-title__position .services__custom-title::before {
      top: 40%; }

.services-title__position--right .services__custom-title {
  left: auto;
  right: -250px; }

.staff .title-box__text {
  width: 40%;
  font-size: 14px;
  line-height: 20px; }

.staff-wrapper {
  position: relative;
  padding: 80px 0;
  margin-top: 50px;
  background: #F8F5F0; }

.staff-slider__item {
  text-align: center; }
  .staff-slider__item:hover {
    outline: none; }
  .staff-slider__item h5 {
    margin-top: 30px;
    line-height: 22px; }
  .staff-slider__item img {
    margin: 0 auto; }

.staff-slider__img {
  overflow: hidden; }
  .staff-slider__img img {
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  .staff-slider__img:hover img {
    -webkit-transform: scale(1.2) rotate(-4deg);
        -ms-transform: scale(1.2) rotate(-4deg);
            transform: scale(1.2) rotate(-4deg); }

.reviews-wrapper {
  position: relative;
  padding: 80px 0;
  margin-top: 50px;
  background: #F8F5F0; }
  .reviews-wrapper h3 {
    margin: 0 0 30px;
    font-size: 36px;
    font-weight: 300;
    color: #6D8B97; }

.row-eq-height {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews-form input,
.reviews-form textarea,
.form input,
.form textarea {
  position: relative;
  display: block;
  padding: 0 0 0 10px;
  height: 70px;
  width: 100%;
  background: #fff;
  border: none;
  outline: none; }

.reviews-form textarea,
.form textarea {
  padding: 15px 0 0 10px;
  height: 180px;
  resize: none; }

.reviews-form .row-eq-height,
.form .row-eq-height {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.reviews-slider__wrapper {
  position: relative;
  margin-top: 80px; }

.reviews-slider {
  margin-left: -30px;
  margin-top: -30px; }

.reviews-slider__item {
  margin: 0 30px;
  outline: none; }
  .reviews-slider__item p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px; }

.reviews-slider__img {
  width: 30%; }

.reviews-slider__header {
  width: 65%;
  text-align: center;
  font-size: 18px;
  line-height: 22px; }

.contacts {
  padding: 0; }
  .contacts .title-box {
    margin-bottom: 30px; }

.contacts-wrapper {
  background: #F8F5F0; }

.contacts-social {
  text-align: right; }
  .contacts-social .soc-btn li {
    margin: 0 0 0 36px; }
    .contacts-social .soc-btn li a {
      font-size: 80px; }
      .contacts-social .soc-btn li a .fa-instagram {
        font-size: 75px; }

.map-wrapper {
  height: 472px;
  position: relative; }
  .map-wrapper #YMapsID {
    width: 100%;
    height: 100%; }

.map-info {
  position: absolute;
  top: 50px;
  padding: 20px;
  background: #F8F5F0; }

.map-info__list {
  list-style: none; }
  .map-info__list li {
    font-size: 22px;
    line-height: 30px; }
    .map-info__list li a {
      color: #626163; }

.form *::-webkit-input-placeholder {
  color: #626163;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.form *:-moz-placeholder {
  color: #626163;
  font-size: 12px;
  font-weight: 500;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.form *::-moz-placeholder {
  color: #626163;
  font-size: 12px;
  font-weight: 500;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.form *:-ms-input-placeholder {
  color: #626163;
  font-size: 12px;
  font-weight: 500;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.form *:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

.form *:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

.form *:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

.form *:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

.form textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

.form textarea:focus::-moz-placeholder {
  text-indent: 0; }

.form textarea:focus:-moz-placeholder {
  text-indent: 0; }

.form textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.modal-dialog {
  width: 420px;
  margin: 30px auto 0; }

.modal-content {
  background: #A3B9BC;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.modal-body {
  padding: 20px; }

.close {
  opacity: 1;
  float: none; }

.ic-close::before {
  width: 31px;
  height: 31px;
  background: url(../img/close.png); }

.modal-form {
  margin-top: 10px; }
  .modal-form input {
    margin-bottom: 15px; }

.text-right {
  text-align: right; }

.modal-form__bottom p {
  font-size: 12px;
  color: #000; }

.modal-form__bottom .btn.btn-red {
  min-width: 154px;
  font-size: 14px;
  font-weight: bold;
  text-transform: none; }

footer {
  background: #F8F5F0; }

.footer-top {
  margin-top: 35px;
  margin-bottom: 100px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.footer-logo {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #626163; }
  .footer-logo span {
    padding-left: 20px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase; }

.card-list {
  list-style: none; }
  .card-list li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px; }
  .card-list:last-child {
    margin-left: 0; }

.footer-contact__list {
  list-style: none; }
  .footer-contact__list li {
    font-size: 18px;
    line-height: 26px;
    text-align: right; }
    .footer-contact__list li a {
      color: #626163; }

.footer-licenses {
  margin-bottom: 25px;
  list-style: none; }
  .footer-licenses li {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase; }

.footer-text {
  padding-bottom: 30px; }
  .footer-text p {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase; }

.inner header {
  background: #fff; }

.inner section {
  padding: 0; }
  .inner section h2 {
    font-size: 36px; }

.contacts-info {
  background: rgba(246, 242, 236, 0.75); }
  .contacts-info .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  .contacts-info .row {
    margin-left: 0;
    margin-right: 0; }
    .contacts-info .row [class^="col"] {
      padding-left: 0;
      padding-right: 0; }

.contacts-info__address {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px; }
  .contacts-info__address p {
    font-size: 36px;
    line-height: 53px; }

.contacts-box__wrapper {
  margin-top: 90px;
  margin-bottom: 50px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.contacts-box__item {
  height: 300px;
  width: 360px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  background: #FCCBAF; }
  .contacts-box__item:nth-child(2) {
    padding: 20px 0;
    background: #EED7BC; }
  .contacts-box__item .soc-btn li a {
    font-size: 50px; }
    .contacts-box__item .soc-btn li a .fa-instagram {
      font-size: 48px; }

.contacts-box__name {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff; }

.contacts-box__tel {
  font-size: 32px;
  font-weight: 900;
  color: #fff; }

.contacts-box__mail {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase; }

.contacts-box__schedule {
  font-size: 24px;
  line-height: 39px; }

.vacancies-wrapper {
  padding: 80px 0;
  background: rgba(246, 242, 236, 0.75); }

.vacancies-item {
  margin-bottom: 80px; }
  .vacancies-item:last-child {
    margin-bottom: 0; }

.vacancies-item__text p {
  font-size: 14px;
  line-height: 17px; }

.vacancies-item__text .btn {
  margin-top: 50px; }

.text-right {
  text-align: right; }

.legal-information h2 {
  text-transform: uppercase; }

.uppercase {
  margin-bottom: 80px;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 29px;
  color: #6D8B97;
  font-weight: 300; }

.legal-information__wrapper {
  padding-bottom: 30px; }

.legal-information__item {
  margin-bottom: 35px;
  padding-left: 100px; }
  .legal-information__item p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300; }

.about .title-box {
  min-height: 0; }

.about-info {
  position: relative;
  top: -30px;
  overflow: hidden; }
  .about-info .justify-align {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.about-info__text {
  padding: 70px 0 0;
  max-width: 324px; }
  .about-info__text p {
    font-size: 14px;
    line-height: 17px;
    word-break: break-word; }

.about-info__img {
  position: relative;
  padding-right: 50px;
  padding-bottom: 30px; }
  .about-info__img img {
    position: relative;
    z-index: 10; }
  .about-info__img::before {
    content: '';
    position: absolute;
    width: 544px;
    height: 421px;
    background: rgba(246, 242, 236, 0.75);
    left: 215px;
    bottom: -30px; }

.about-choose {
  margin-top: 40px; }
  .about-choose .about-choose__title {
    position: relative;
    padding: 0 0 0 70px;
    font-size: 36px;
    color: #6D8B97;
    text-transform: uppercase;
    font-weight: 300; }
    .about-choose .about-choose__title span {
      position: absolute;
      font-size: 24px;
      left: 0;
      bottom: -160px; }

.vertical-text {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  float: left;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top; }

.about-choose__wrapper {
  padding: 20px 100px 40px 170px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.about-choose__item {
  width: 200px; }
  .about-choose__item p {
    font-size: 14px;
    line-height: 17px; }

.about-choose__pink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 166px;
  height: 166px;
  margin: 0 auto 40px;
  text-align: center;
  background: #FCCBAF; }
  .about-choose__pink span {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff; }

.about-mission__wrapper {
  position: relative;
  max-width: 950px;
  margin-bottom: 80px;
  background: rgba(246, 242, 236, 0.75); }

.about-mission__title {
  position: absolute;
  right: -260px;
  top: 20px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 24px;
  color: #6D8B97;
  font-weight: 300;
  text-transform: uppercase; }

.about-mission__img img {
  display: block; }

.about-mission__text {
  padding: 20px 20px 20px 0;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.documentation-wrapper {
  position: relative;
  padding: 40px 0 40px;
  margin-bottom: 50px;
  background: #F8F5F0; }

.certificate-wrapper {
  position: relative;
  padding: 40px 0 60px;
  margin-bottom: 100px;
  background: #F8F5F0; }

.certificate-slider__img {
  height: 314px;
  margin-bottom: 30px; }

.certificate-wrapper .services__custom-title {
  top: 323px;
  left: -370px;
  width: 650px; }

.equipment .title-box {
  margin-bottom: 30px; }

.equipment .title-box__text {
  width: 60%; }
  .equipment .title-box__text p {
    font-size: 14px;
    line-height: 20px; }

.equipment-wrapper {
  position: relative;
  padding: 40px 0 60px;
  margin-bottom: 50px;
  background: #F8F5F0; }

.equipment-slider {
  margin: 0 -10px; }

.equipment-slider__item {
  position: relative;
  height: 360px;
  margin: 0 10px;
  background: #fff; }

.equipment-slider__text {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  bottom: 30px;
  height: 174px;
  padding: 10px;
  text-align: center;
  background: rgba(246, 242, 236, 0.75); }
  .equipment-slider__text span {
    font-size: 18px;
    line-height: 29px;
    font-weight: 500; }

.equipment-wrapper .services__custom-title {
  top: 172px;
  left: -220px;
  width: 360px; }

.specialists-wrapper {
  background: #F6F2EC; }

.head-physician {
  margin-bottom: 100px; }
  .head-physician .services-title__position .services__custom-title {
    top: 214px;
    left: -200px;
    width: 330px; }

.head-physician__img {
  position: relative;
  padding-bottom: 30px; }
  .head-physician__img img {
    display: block;
    position: relative;
    z-index: 10; }
  .head-physician__img::before {
    content: '';
    position: absolute;
    width: 308px;
    height: 325px;
    background: rgba(121, 150, 154, 0.45);
    right: 30px;
    bottom: 0; }

.head-physician__text {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.head-physician__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase; }

.head-physician__info {
  height: 300px;
  padding: 20px 30px;
  background: #fff; }
  .head-physician__info p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 29px; }

.doctor-item {
  padding-bottom: 50px; }
  .doctor-item .row {
    margin-left: 0;
    margin-right: 0; }
    .doctor-item .row [class^="col"] {
      padding-left: 0;
      padding-right: 0; }

.doctor-item__img {
  padding-right: 15px;
  padding-left: 30px; }

.doctor-item__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase; }

.doctor-item__text {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 15px;
  margin-right: 30px; }

.doctor-item__info {
  height: 280px;
  padding: 20px 30px;
  background: #fff; }
  .doctor-item__info p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 29px; }

.dermatology-wrapper {
  padding: 80px 0;
  background: rgba(246, 242, 236, 0.75); }

.services-box {
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  background: #FCCBAF; }

.services-box__title {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900; }

.dermatology-wrapper {
  position: relative; }
  .dermatology-wrapper [class^="col"] {
    position: static; }

.dermatology-boxes {
  position: relative; }
  .dermatology-boxes .vertical-text {
    position: absolute;
    right: -155px;
    top: 138px; }
    .dermatology-boxes .vertical-text span {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: #6D8B97; }

.dermatology-img {
  text-align: right;
  position: absolute;
  right: 0;
  top: 10px;
  overflow: hidden; }
  .dermatology-img img {
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  .dermatology-img:hover img {
    -webkit-transform: scale(1.2) rotate(-4deg);
        -ms-transform: scale(1.2) rotate(-4deg);
            transform: scale(1.2) rotate(-4deg); }

.dermatology-boxes__blue {
  margin-top: 100px; }
  .dermatology-boxes__blue .vertical-text {
    position: absolute;
    left: -40px;
    top: 268px; }

.services-box__blue {
  background: #A8BEC1; }

.get-consultation {
  width: 194px;
  margin-top: 80px; }
  .get-consultation span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    white-space: normal; }

.article {
  position: relative;
  padding: 50px 0;
  background: rgba(246, 242, 236, 0.75); }

.article-img {
  margin-bottom: 80px; }
  .article-img [class^="col"] {
    position: static; }

.article-img__text p {
  font-size: 14px; }

.article-img__image {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  overflow: hidden; }
  .article-img__image img {
    max-width: 90%;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  .article-img__image:hover img {
    -webkit-transform: scale(1.2) rotate(-4deg);
        -ms-transform: scale(1.2) rotate(-4deg);
            transform: scale(1.2) rotate(-4deg); }

.check-box__wrapper h3 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 300;
  color: #6D8B97; }

.check-box {
  margin-bottom: 50px;
  background: #A8BEC1; }

.check-box__list {
  padding: 40px 30px;
  list-style: none; }
  .check-box__list li {
    position: relative;
    padding: 0 0 0 40px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900; }
    .check-box__list li:last-child {
      margin-bottom: 0; }
    .check-box__list li::before {
      content: '';
      position: absolute;
      left: -10px;
      top: -2px;
      background: url(../img/checked.png);
      width: 28px;
      height: 28px; }

.check-box__text {
  position: relative;
  height: 100%;
  padding: 0 0 60px 30px; }
  .check-box__text p {
    font-size: 14px;
    line-height: 22px;
    word-break: break-word; }
  .check-box__text .btn {
    position: absolute;
    left: 0;
    bottom: 0; }

.custom-table {
  border-collapse: collapse;
  background: #fff; }
  .custom-table tr td {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #D4D4D4; }
    .custom-table tr td:last-child {
      text-align: center; }

.injection-cosmetology {
  margin-bottom: 70px;
  position: relative; }
  .injection-cosmetology:last-of-type {
    margin-bottom: 30px; }
  .injection-cosmetology .vertical-text {
    position: absolute;
    left: -40px;
    top: 303px;
    width: 300px;
    text-align: center; }

.services-box__text {
  min-height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .services-box__text p {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word; }
  .services-box__text .btn {
    margin: 0; }

.hardware-cosmetology {
  padding: 200px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .hardware-cosmetology .services-box {
    width: 268px; }
    .hardware-cosmetology .services-box.services-box__blue {
      margin-top: 110px; }

.hardware-cosmetology__btn {
  padding-bottom: 50px;
  text-align: center; }

.services-box__plazmoterapiya {
  margin-bottom: 70px; }
  .services-box__plazmoterapiya .services-box {
    height: 166px; }
    .services-box__plazmoterapiya .services-box .services-box__title {
      font-size: 14px; }

.article-img__trichology .services-box {
  width: 268px; }

.services-box__trichology .services-box__title {
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.services-box__trichology .get-consultation {
  display: block;
  margin: 100px auto 0; }

.services-text__item {
  padding-top: 90px; }
  .services-text__item .services-box {
    width: 268px;
    background: #EED7BC; }
  .services-text__item p {
    font-size: 14px;
    line-height: 22px; }
  .services-text__item .custom-table {
    margin-top: 55px; }
  .services-text__item .btn-red {
    margin-top: 75px; }

.services-box__skin--care .services-box__title {
  min-height: 70px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.services-box__skin--care .get-consultation {
  display: block;
  margin: 70px auto 40px; }

.offers .get-consultation {
  display: block;
  margin: 0 auto 80px; }

.offers-text p {
  font-size: 14px;
  line-height: normal; }

.offers-slider__wrapper {
  position: relative;
  margin: 30px 0 50px;
  padding: 70px 0;
  background: rgba(246, 242, 236, 0.75); }

.offers-slider {
  margin-right: -15px;
  margin-left: -15px; }

.offers-slider__item {
  padding: 10px;
  margin-right: 15px;
  margin-left: 15px;
  height: 405px;
  background: rgba(238, 215, 188, 0.7); }
  .offers-slider__item p {
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word; }

.offers-slider__item--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.bg__blue {
  background: rgba(168, 190, 193, 0.7); }

.bg__pink {
  background: rgba(252, 203, 175, 0.7); }

.services-list {
  margin-bottom: 50px; }
  .services-list .services-box {
    margin-bottom: 40px; }
  .services-list .custom-table {
    width: 100%; }

.services-list__text {
  max-width: 324px; }
  .services-list__text p {
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word; }

.services-list__img {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 50px;
  text-align: right; }
  .services-list__img::before {
    content: '';
    position: absolute;
    right: -40px;
    top: 30px;
    width: 80%;
    height: 90%;
    background: rgba(246, 242, 236, 0.75); }
  .services-list__img img {
    display: inline-block;
    position: relative;
    z-index: 10; }

.table-btn__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .navbar-nav {
    padding: 0;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .navbar-nav > li.chisel {
      display: none; }
  .header-top {
    padding-left: 0; }
  .top-slider__info {
    margin: 15px 0 0;
    width: 60%; }
  .welcome-slider {
    margin: 0 -10px; }
    .welcome-slider .welcome-slider__item {
      margin-left: 10px;
      margin-right: 10px; }
  .services-item {
    height: 354px; }
  .services-title__position .services__custom-title {
    width: 354px;
    top: 170px;
    left: -190px; }
  .services-title__position--right .services__custom-title {
    right: -190px;
    left: auto; }
  .services-item__nut,
  .services-item__pink {
    padding: 20px 10px 20px; }
  .services-item__title br {
    display: none; }
  .contacts-box__item {
    width: 300px; }
  .contacts-box__tel {
    font-size: 26px; }
  .equipment .title-box__text {
    width: 55%; }
  .services-list__img::before {
    display: none; }
  .header-wrapper {
    padding: 26px 0; }
  .article-img__image {
    position: static; }
  .check-box__list li {
    font-size: 14px; }
  .article-img__text p {
    font-size: 14px;
    word-break: break-all; }
  .check-box__wrapper .row-eq-height {
    display: block; }
  .custom-table {
    margin-bottom: 30px; }
  .check-box__text {
    padding: 0; }
  .check-box__text .btn {
    position: static;
    margin-top: 30px; }
  .head-physician__img::before {
    display: none; }
  .head-physician {
    padding: 30px 0 0; }
    .head-physician .row-eq-height {
      display: block; }
  .head-physician .services-title__position {
    margin-bottom: 30px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-wrapper {
    padding: 0; }
    .header-wrapper .logo {
      display: none; }
  .header-top__info li {
    font-size: 16px; }
  .top-slider__title {
    margin-bottom: 20px;
    font-size: 36px; }
  .top-slider__info p {
    font-size: 24px;
    margin-left: 60px; }
  .top-slider__info span {
    margin-left: 60px; }
  .services-item {
    height: 436px;
    max-width: 360px;
    margin: 0 auto 30px; }
  .services-title__position .services__custom-title {
    width: 436px;
    top: 208px;
    left: -250px; }
  .services-title__position .services-title__position--right .services__custom-title {
    left: auto;
    right: -250px; }
  .contacts-box__wrapper {
    display: block; }
  .contacts-box__item {
    margin: 0 auto 30px; }
  .inner .about {
    padding-top: 20px; }
  .about-info {
    top: 0;
    overflow: visible; }
    .about-info .justify-align {
      display: block; }
  .about-info__text {
    padding: 50px 0 20px;
    max-width: none; }
  .about-info__img {
    padding: 0;
    text-align: center; }
    .about-info__img::before {
      display: none; }
  .about-choose__wrapper {
    padding: 20px 20px 40px 20px; }
  .services-list__text {
    max-width: none;
    margin: 0 0 30px; }
  .services-list__img {
    padding-bottom: 0;
    text-align: center; }
  .table-btn .row-eq-height {
    display: block; }
  .table-btn__button {
    margin: 30px 0 0; }
  .services-list .services-box {
    margin-bottom: 10px;
    height: 100px; }
  .services-box__text {
    min-height: 0;
    margin-bottom: 50px; }
  .services-text__item .services-box {
    width: auto;
    margin-bottom: 30px; }
  .services-text__item p {
    word-break: break-word; }
  .services-text__item {
    padding-top: 10px; }
  .services-box__blue {
    margin-bottom: 30px; }
  .services-box__trichology .get-consultation {
    margin: 0px auto 0; }
  .services-box {
    margin-bottom: 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-top {
    display: block;
    text-align: center; }
    .header-top .btn {
      margin-bottom: 10px; }
    .header-top .soc-btn {
      margin-bottom: 10px; }
  .header-top__logo {
    display: block;
    width: 194px;
    margin: 0 auto 10px; }
  .header-top__info {
    text-align: center; }
  .navbar {
    background-color: transparent; }
  .navbar-header {
    text-align: center; }
  .navbar-toggle {
    float: none;
    padding: 0 0 0;
    margin: 0 0 0;
    border: none;
    min-height: 25px;
    position: relative;
    z-index: 5; }
    .navbar-toggle .icon-bar {
      position: relative;
      width: 40px;
      height: 3px;
      background: #6D8B97;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
    .navbar-toggle.active .icon-bar {
      margin: 0; }
      .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -9px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }
  .navbar-nav {
    display: block;
    margin-top: 20px; }
    .navbar-nav > li {
      display: block;
      margin-bottom: 5px;
      text-align: center; }
      .navbar-nav > li > a {
        color: #6D8B97; }
        .navbar-nav > li > a:hover {
          color: #6D8B97; }
  .dropdown-menu > li > a {
    text-align: center; }
  .top-slider__item {
    text-align: center; }
    .top-slider__item img {
      margin: 0 auto; }
  .top-slider__text {
    position: static; }
  .top-slider__info {
    width: auto; }
    .top-slider__info p, .top-slider__info span {
      margin: 0 0 10px; }
    .top-slider__info span {
      font-size: 18px; }
  .top-slider__text__wrapper {
    display: block;
    padding-bottom: 60px; }
  .section h2 {
    font-size: 36px; }
  .title-box {
    display: block; }
    .title-box .title-box__text {
      width: auto;
      padding-top: 15px; }
  .reviews-wrapper {
    padding: 60px 0; }
  .reviews-form .row {
    display: block; }
  .reviews-form input {
    margin-bottom: 10px; }
  .contacts-social .soc-btn li a {
    font-size: 48px; }
    .contacts-social .soc-btn li a .fa-instagram {
      font-size: 44px; }
  .map-wrapper {
    height: 300px; }
  .footer-top {
    display: block;
    margin-bottom: 50px; }
  .card-list {
    margin-top: 10px;
    text-align: center; }
  .footer-contact__list {
    margin-top: 10px; }
    .footer-contact__list li {
      text-align: center; }
  .services-item {
    height: 354px;
    max-width: 260px; }
  .services-title__position .services__custom-title {
    width: 354px;
    top: 170px;
    left: -190px; }
  .services-title__position--right .services__custom-title {
    right: -190px;
    left: auto; }
  .services-item__nut,
  .services-item__pink {
    padding: 20px 10px 20px; }
  .contacts-info .row-eq-height {
    display: block; }
  .inner .contacts .title-box {
    min-height: 0; }
  .inner .contacts h2 {
    text-align: center; }
    .inner .contacts h2::before {
      display: none; }
  .contacts-info__address {
    display: block;
    padding: 20px 15px;
    text-align: center; }
    .contacts-info__address p {
      font-size: 28px; }
    .contacts-info__address br {
      display: none; }
  .contacts-box__wrapper {
    margin-top: 30px; }
  .contacts-box__item {
    width: 290px; }
  .vacancies-wrapper {
    padding: 50px 0; }
  .vacancies-item__img {
    margin-bottom: 20px;
    text-align: center; }
  .vacancies-item__text p {
    word-wrap: break-word; }
  .vacancies-item__text .text-right {
    text-align: center; }
  .inner .title-box {
    padding: 20px 0; }
    .inner .title-box h2 {
      margin: 0;
      text-align: center; }
  .uppercase {
    margin-bottom: 30px;
    font-size: 16px; }
    .uppercase br {
      display: none; }
  .legal-information__item {
    margin-bottom: 20px; }
    .legal-information__item p {
      font-size: 14px; }
  .footer-text p {
    font-size: 10px;
    line-height: 20px; }
  .about-info__text {
    padding: 0px 0 20px; }
  .about-choose .about-choose__title {
    text-align: center;
    padding: 0; }
    .about-choose .about-choose__title span {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      font-size: inherit;
      display: inline;
      float: none; }
  .about-choose__wrapper {
    display: block;
    padding: 20px 0 0; }
  .about-choose__item {
    margin: 0 auto 30px; }
  .about-choose__pink {
    margin: 0 auto 15px; }
  .row-eq-height {
    display: block; }
  .about-mission__title {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .vertical-text {
    float: none; }
  .about-mission__wrapper {
    padding: 20px;
    text-align: center; }
  .about-mission__img {
    margin: 20px 0 0; }
    .about-mission__img img {
      margin: 0 auto; }
  .about-choose .about-choose__title {
    font-size: 30px; }
  .documentation-slider {
    max-width: 290px;
    margin: 0 auto 30px; }
  .services-title__position .services__custom-title {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .certificate-slider {
    max-width: 290px;
    margin: 0 auto 30px; }
  .certificate-slider__img {
    height: auto;
    margin-bottom: 20px; }
  .map-info {
    display: none; }
  .equipment-slider {
    max-width: 260px;
    margin: 0 auto 30px; }
  .equipment-slider__wrapper .services-title__position {
    margin-bottom: 30px; }
  .services__custom-title span {
    padding: 0; }
  .article {
    position: relative;
    padding: 30px 0; }
  .article-img__image {
    margin-top: 30px;
    text-align: center; }
  .article-img {
    margin-bottom: 30px; }
  .check-box {
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: block; }
  .check-box__list {
    padding: 40px 30px 0; }
    .check-box__list li {
      margin-bottom: 30px; }
  .offers-slider__item {
    height: auto;
    padding: 10px 0; }
  .offers-slider__item--wrapper {
    display: block;
    text-align: center; }
    .offers-slider__item--wrapper img {
      margin: 20px auto 0; }
  .offers-text p {
    word-break: break-word; }
  .services-box__blue {
    margin-bottom: 30px; }
  .head-physician__img img {
    margin: 0 auto; }
  .head-physician__info {
    height: auto; }
  .doctor-item__text {
    padding: 0 15px;
    margin: 30px auto 0;
    text-align: center; }
  .contacts .title-box {
    margin-bottom: 0;
    padding-top: 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .section h2 {
    margin-left: 0;
    text-align: center; }
    .section h2::before {
      display: none; }
    .section h2 span {
      padding: 0;
      font-size: 30px; }
  .modal-dialog {
    width: 290px; }
  .modal-form__bottom {
    display: block; }
  .certificate-slider__title {
    margin-bottom: 20px; }
  .services__custom-title::before {
    display: none; }
  .services-title__position .services__custom-title {
    width: auto;
    text-align: center; }
  .head-physician .services-title__position .services__custom-title {
    width: auto; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
